* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body {
    background-color: #fffbe5;
    color: #443100;
    font-family: 'IBM Plex Mono', monospace;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

p {
    font-size: 16px;
    font-size: 16px;
    line-height: 2;
    font-weight: 300;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 24px;
    }
}

.container {
    margin: 16px;
}

@media only screen and (min-width: 768px) {
    .container {
        margin: 72px;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        margin: 78px 120px 120px 120px;
    }
}

header {
    text-align: center;
}

.logo {
    width: 84%;
    padding-top: 16px;
    padding-bottom: 28px;
}

@media only screen and (min-width: 768px) {
    .logo {
        padding-top: 0;
        padding-bottom: 72px;
    }
}

.hero-image img {
    width: 100%;
}

.about-doziealvan {
    background-color: #fff;
    padding: 28px;
    margin-top: 14px;
    margin-bottom: 16px;
}

@media only screen and (min-width: 1000px) {
    .about-doziealvan {
        margin: 24px 0 28px 0;
    }
}

.about-doziealvan h2 {
    padding-top: 8px;
    padding-bottom: 20px;
}

.about-doziealvan a {
    text-decoration: underline;
    color: #b8000c;
}

@media only screen and (min-width: 768px) {
    .about-doziealvan {
        padding: 48px;
    }
}

.twitter-logo {
    width: 100%;
    background-color: #00abe8;
    text-align: center;
    transform: scale(1);
    transition: transform 0.2s;
}
.twitter-logo:hover,
.instagram-logo:hover,
.linkedin-logo:hover,
.github-logo:hover,
.gmail-contact:hover {
    transform: scale(1.02);
    box-shadow: 8px 20px 40px 0px rgba(0, 0, 0, 0.3);
}

.twitter-logo img {
    width: 20%;
    padding-top: 64px;
    padding-bottom: 56px;
}

@media only screen and (min-width: 360px) {
    .twitter-logo img {
        width: 28%;
    }
}

@media only screen and (min-width: 768px) {
    .twitter-logo img {
        padding-top: 93px;
        padding-bottom: 84px;
    }
}


.instagram-logo {
    width: 100%;
    background-image: linear-gradient(to right,#ec0010, #9f05b8, #1d02c6);
    text-align: center;
    margin: 16px 0;
    transform: scale(1);
    transition: transform 0.2s;
}
 

@media only screen and (min-width: 1000px) {
    .instagram-logo {
        margin: 28px 0;
    }
}

.instagram-logo img {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 8px;
}

@media only screen and (min-width: 360px) {
    .instagram-logo img {
        padding-top: 30px;
        padding-bottom: 18px;
    }
}

.small-social-cards {
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

@media only screen and (min-width: 1000px) {
    .small-social-cards {
        grid-gap: 28px;
        margin-bottom: 0;
    }
}

.github-logo {
    width: 100%;
    background-color: #fff;
    text-align: center;
    transform: scale(1);
    transition: transform 0.2s;
}


.github-logo img, .linkedin-logo img {
    width: 92%;
    padding: 36px;
}

.linkedin-logo {
    width: 100%;
    background-color:#0071a1;
    text-align: center;
    transform: scale(1);
    transition: transform 0.2s;
}


.social-cards-2 {
    background-color: #fff;
    padding: 16px 16px 40px 16px;
    margin-bottom: 16px;
}

@media only screen and (min-width: 1000px) {
    .social-cards-2 {
        padding: 28px 28px 40px 28px;
        margin-bottom: 0;
    }
}

.usher-A img {
    width: 100%;
}

.usher-A {
    text-align: center;
}

.usher-A h2 {
    padding: 24px 16px 16px 16px;
    font-size: 16px !important;
}

.usher-A h4 {
    font-size: 12px;
}

.usher-A a {
    background-color: #17db61;
    color: #fff;
    border-radius: 138px;
    margin-top: 40px;
    padding: 12px 32px;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    transition: background-color 0.3s;
}
.usher-A a:hover {
    background-color: #00a740;
   
}

.spotify p {
    font-size: 16px;
    color: #fff;
}


.gmail-contact {
    width: 100%;
    background-color: #0c0c0c;
    text-align: center;
    padding: 24px;
    transform: scale(1);
    transition: transform 0.2s;
}


.gmail-contact p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    .gmail-contact {
        padding: 40px 16px;
    }
}

.attributes p {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}

.attributes a {
    color: #443100;
    opacity: 0.5;
}

.attributes {
    padding: 12px;
}

@media only screen and (min-width: 768px) {
    .social-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }


    .gmail-contact p {
        font-size: 24px;
    }

    .attributes {
        margin: 12px;
    }
}

@media only screen and (min-width: 1000px) {
    .social-cards {
        grid-column-gap: 28px;
        margin-bottom: 28px;
    }

    .gmail-contact a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 50vw;
        margin: auto;
    }

    header {
        padding-top: 78px;
    }
    .attributes {
        padding-bottom: 72px;
    }

    .about-doziealvan {
        padding: 72px;
    }
}














